@import url("https://fonts.googleapis.com/css?family=Lobster+Two:700i&display=swap");
// font style
$font: 'Roboto', sans-serif;

@mixin fontstyle($weight, $size, $lineheight, $fontfamily, $color) {
  font-weight: $weight;
  font-size: $size;
  font-family: $fontfamily;
  line-height: $lineheight;
  color: $color;
}
