html {
  font-size: 16px;
}

body{
  margin: 0;
}

h1,h2,h3,h4,h5,p,ul{
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

input {
  border: none;
}

button {
  border: none;
}
