.mission-instruction-card {
  width: 360px;
  margin: auto;
  padding-top: 136px;
  .card {
    background: $white;
    border-radius: 13px;
    box-shadow: #00000029 0px 1px 3px;
    padding: 15px 30px 21px 30px;
    margin-bottom: 48px; 
    h3 {
      margin-bottom: 15px;
      @include fontstyle(regular, 26px, 1.5, $font, #757575);
      text-align: center;
    }
    p {
      padding-left: 34px;
      margin-top: 10px;
      @include fontstyle(regular, 16px, 1.5, $font, #757575);
    }
    p + p {
      border-top: #707070 1px solid;
      padding-top: 10px;
    } 
  }
}

.list-card {
  background: $white;
  margin-bottom: 13px;
  padding: 13.5px 10px 12.5px 15px;
  box-shadow: #00000029 0px 3px 6px;
  h4 {
    display: inline-block;
    width: 75%;
    @include fontstyle(700, 18px, 22px, $font, #474747);
  }
  span {
    display: inline-block;
    width: 25%;
    text-align: right;
    padding-right: 14px;
    @include fontstyle(700, 18px, 22px, $font, #474747);
  }
}