.deep-sub-menu-wrapper {
  padding-top: 39px;
}

.main-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding-bottom: 5px;
  border-top: 1px solid #b7b7b7;
  font-size: 0;
  a {
    display: inline-block;
    padding-top: 37px;
    text-align: center;
  }
  h2 {
    @include fontstyle(400, 12px, 1, $font, #b7b7b7);
  }
}

.deep-sub-menu {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  background: $white;
  a {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
  span {
    display: inline-block;
    height: 39px;
    box-sizing: border-box;
    padding: 0 5px;
    @include fontstyle(400, 20px, 37px, $font, #b7b7b7);
  }
  .current {
    span {
      color: $light-blue;
      border-bottom: 2px solid $light-blue;
    }
  }
}